<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <h1>Airline application</h1>
    <table border="1">
        <th>Number</th>
        <th>From</th>
        <th>To</th>
        <th>Departure Date</th>
        <th>Departure Time</th>
        <th>Arrival Date</th>
        <th>Arrival Time</th>
        <th>Available Seats</th>
        <th>Economic Seats</th>
        <th>first Class Seats</th>
        <th>secondClassSeats</th>
        <th>Number of Passengers</th>
        <th>Select Class</th>
        <th>Book Ticket</th>
        <tr th:each="flight:${flights}">
            <td th:text="${flight.number}"></td>
            <td th:text="${flight.source}"></td>
            <td th:text="${flight.destination}"></td>
            <td th:text="${flight.departureDate}"></td>
            <td th:text="${flight.departureTime}"></td>
            <td th:text="${flight.arrivalDate}"></td>
            <td th:text="${flight.arrivalTime}"></td>
            <td th:text="${flight.availableSeats}"></td>
            <td th:text="${flight.economicSeats}"></td>
            <td th:text="${flight.firstClassSeats}"></td>
            <td th:text="${flight.secondClassSeats}"></td>
            <form th:action="@{'/' + ${flight.number}}" th:method="post">
                <td><input type="number" min="0" id="noOfPass" name="noOfPass"/></td>
            <td><select name="flightClass" id="flightClass">
                <option value="Economic">Economic</option>
                <option value="Second class">Second class</option>
                <option value="First class">First class</option>
            </select></td>
                <td><input type="submit" id="book" value="book Ticket"/></td>
            </form>

        </tr>
    </table>
</body>
</html>