<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <h1>Airline application</h1>
    <table border="1">
        <th>Number</th>
        <th>From</th>
        <th>To</th>
        <th>Departure Date</th>
        <th>Departure Time</th>
        <th>ArrivalDate</th>
        <th>Arrival Time</th>
        <th>Available Seats</th>
        <th>Class Type</th>
        <th>Number of passengers</th>
        <th>Class Fare</th>
        <th>Total Fare</th>
        <th>Book Ticket</th>
        <tr th:each="flight:${flights}">
            <td th:text="${flight.number}"></td>
            <td th:text="${flight.source}"></td>
            <td th:text="${flight.destination}"></td>
            <td th:text="${flight.departureDate}"></td>
            <td th:text="${flight.departureTime}"></td>
            <td th:text="${flight.arrivalDate}"></td>
            <td th:text="${flight.arrivalTime}"></td>
            <td th:if="${flightClass} == 'economic'" th:text="${flight.economyClass.getEconomicSeatsAvailable()}"></td>
            <td th:if="${flightClass} == 'firstClass'" th:text="${flight.firstClass.getFirstClassSeatsAvailable()}" ></td>
            <td th:if="${flightClass} == 'secondClass'" th:text="${flight.secondClass.getSecondClassSeatsAvailable()}"></td>
            <td th:text="${flightClass}"></td>
            <td th:text="${noOfPass}"></td>
            <td th:if="${flightClass} == 'economic'" th:text="${flight.economyClass.getEconomicClassFare()}"></td>
            <td th:if="${flightClass} == 'firstClass'" th:text="${flight.firstClass.getFirstClassFare()}" ></td>
            <td th:if="${flightClass} == 'secondClass'" th:text="${flight.secondClass.getSecondClassFare()}"></td>
            <td th:text="${flight.getTotalFare()}"></td>
            <form th:action="@{'/' + ${flight.number}+'/'+${flightClass}+'/'+${noOfPass}}" th:method="post">
            <td><input type="submit" id="book" value="book Ticket"/></td>
            </form>
        </tr>
    </table>
</body>
</html>